<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeSlower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TimeSlowerDataBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TimeSlowerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>DataBase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Kit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>All Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F009AE521BD9C5F8007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F009AE691BD9C5F8007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F009AE741BD9C5F8007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F009AE8B1BD9CBA2007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F009AE941BD9CBA2007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F009AED21BD9CEA4007F38A9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F0CDAA081D90C69F0090D7E3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F0CDAA101D90C69F0090D7E3</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
